#fuel
  %a{href: "http://avtoprom.ua", style: "border:0", title: "Автобазар"}
    %img{ async: true, style: 'width: 217px', alt: "Автобазар", src: "http://avtoprom.ua/images/informers/benzin/200x200.png", style: "border:0"}
:css
  #fuel img{ width: 317px !important }