.weeklynewsmain
  %span.weeklynews
  %a.weeklynewsm{href: "http://vesti-online.ru/news/facts/906.html", target: "_blank"}
    Вести Онлайн
  %script{ src: "http://vesti-online.ru/informer.htm?theme=autonews&num=3&width=210&css=&font=Arial&bgcolor=&bsize=0&bcol=DDDDDD&tcol=1f7dd2&tsize=16&lcol=1f7dd2&lsize=13&dcol=333333&dsize=12&img=1&desc=1", type: "text/javascript"}
