#SinoptikInformer.SinoptikInformer.type2{style: "width:217px;"}
  .siHeader
    .siLh
      .siMh
        %a{href: "http://ua.sinoptik.ua/", onmousedown: "siClickCount();", target: "_blank"} Погода
        %a.siLogo{href: "http://ua.sinoptik.ua/", onmousedown: "siClickCount();", target: "_blank"}
          %img{src: "http://informers.sinoptik.ua/img/t.gif"}/
  .siBody
    .siTitle
      %span#siHeader
    .siCity
      .siCityName
        %a{href: "http://ua.sinoptik.ua/погода-київ", onmousedown: "siClickCount();", target: "_blank"}
          Погода у
          %span Києві
      #siCont0.siBodyContent
        .siLeft
          .siTerm
          #siT0.siT
          #weatherIco0
        .siInf
          %p
            вологість:
            %span#vl0
          %p
            тиск:
            %span#dav0
          %p
            вітер:
            %span#wind0
    .siCity
      .siCityName
        %a{href: "http://ua.sinoptik.ua/погода-ужгород", onmousedown: "siClickCount();", target: "_blank"}
          Погода в
          %span Ужгороді
      #siCont1.siBodyContent
        .siLeft
          .siTerm
          #siT1.siT
          #weatherIco1
        .siInf
          %p
            вологість:
            %span#vl1
          %p
            тиск:
            %span#dav1
          %p
            вітер:
            %span#wind1
    .siLinks
      %span
        %a{href: "http://ua.sinoptik.ua/погода-запоріжжя", onmousedown: "siClickCount();", target: "_blank"}> Погода у Запоріжжі
         
      %span
        %a{href: "http://ua.sinoptik.ua/погода-вінниця", onmousedown: "siClickCount();", target: "_blank"}> Погода у Вінниці
         
  .siFooter
    .siLf
      .siMf
%script{charset: "UTF-8", src: "http://informers.sinoptik.ua/js3.php?title=3&wind=3&cities=303010783,303027343&lang=ua", type: "text/javascript"}
