.box
  .border-bot
    .right-bot-corner
      .left-bot-corner
        .inner
          .box1.alt
            .inner
              %h4
                %b
                  Контактна інформація
              %div{ style: 'width: 100%;' }
                #map{ style: 'width: 100%; height: 300px;' }
              = contact_us_page