%h3
  %b
    Наша
  команда
%ul.list
  - collaborators_list.each do |collaborator|
    %li
      = image_tag collaborator.avatar.url(:small), style: 'width: 131px', alt: ''
      %a{ href: '', onclick: "return false;" }
        = collaborator.full_name
        = collaborator.post
      %br
      = collaborator.description