%section#dg-container.dg-container
  .dg-wrapper
    - Admin::GalleryItem.all.each do |item|
      %a{ href: "#" }
        = image_tag item.image.url, alt: 'image1'
        %div
          .gallery-text.calibri
            %br
            = raw item.text
  -#%nav
  -#  %span.dg-prev
  -#    &lt;
  -#  %span.dg-next
  -#    &gt;
:javascript
  $(function() {
  $('#dg-container').gallery({
  autoplay	:	true,
  interval:  5000
  });
  });