%section#dg-container.dg-container
  .dg-wrapper
    %a{ href: "#" }
      = image_tag 'gallery/1.jpg', alt: 'image1'
      %div
        .gallery-text.calibri
          %br
          Ми організуємо
          %b
            доставку Вашого вантажу
          до місця розвантаження.
    %a{ href: "#" }
      = image_tag 'gallery/2.jpg', alt: 'image1'
      %div
        .gallery-text.calibri
          %br
          %b
            Гнучка цінова політика
          та
          %b
            грамотний менеджмент
          дозволяють нам завжди знаходити компроміси та йти вперед
          %b
            разом с Вами.
    %a{ href: "#" }
      = image_tag 'gallery/3.jpg', alt: 'image1'
      %div
        .gallery-text.calibri
          %br
          %b
            Індивідуальний підхід
          до кожного клієнта.
    %a{ href: "#" }
      = image_tag 'gallery/4.jpg', alt: 'image1'
      %div
        .gallery-text.calibri
          %br
          Наша команда спеціалістів та менеджерів вирішить
          %b
            Ваші самі амбіціозні задачі.
  %nav
    %span.dg-prev
      &lt;
    %span.dg-next
      &gt;
:javascript
  $(function() {
  $('#dg-container').gallery({
  autoplay	:	true,
  interval:  5000
  });
  });