%select#countries{ style: 'width: 60px;' }
  - locales.each do |locale|
    %option{ value:             locale[:value],
             selected:          (params[:locale] == locale[:value]),
             'data-image'    => 'country_select/images/msdropdown/icons/blank.gif',
             'data-imagecss' => "flag #{ locale[:flag] }",
             'data-title'    => locale[:title],
             'data-href'     => url_for(:locale => locale[:value]) }
