%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
    = I18n.locale.to_s
    %b.caret
  %ul.dropdown-menu{ style: 'width: 200px' }
    - locales.each do |locale|
      %li
        = link_to url_for(params.merge({ :locale => locale[:value] } )) do
          %span{ style: "background-image: url('/assets/country_select/images/msdropdown/icons/flagssprite_small.png'); ", class: "flag #{ locale[:flag] }" }
          = locale[:title]
