
      - if flash[:message]
        .alert.alert-info.text-center
          = flash[:message]
      - if flash[:error]
        .alert.alert-error.text-center
          = flash[:error]
      - if flash[:success]
        .alert.alert-info.text-center
          = flash[:success]
      - if flash[:notice]
        .alert.alert-info.text-center
          = flash[:notice]

          %p.lf
            Copyright © 2013-2014
            %a{href: "#"} babydorych-trans.com.ua
            \- All Rights Reserved
          %p.rf
            %i.icon-phone
            +38(0312)65-55-56
            &nbsp;
            %i.icon-envelope
            info@babydorych-trans.com.ua
          %div{style: "clear:both;"}